* {
    box-sizing: border-box;
 }
 
 header {
    padding: 30px 4% 10px;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-family:'メイリオ', 'Meiryo', sans-serif;
}

body{
    font-family:'メイリオ', 'Meiryo', sans-serif;
    font-size: 30; 
  }

div #content{
    margin : 30px ;
    padding : 20px ;
}

div #buttons{
    margin : 30px ;
    padding : 20px ;
}

div #tabledata{
    margin : 30px ;
    padding : 20px ;
}

input{
    width:200px;
    height:30px;
}

.facilityName_input[type=text]:focus {
    border: 1px solid #ff9900;
    outline: 0;
}

select{
    width:200px;
    height:30px;
}

td, th {
    padding: 3px 20px;
}

.btn {
    background: salmon; /* 背景色 */
    color: #fff; /* 文字色 */
    padding: 10px 30px; /* 上下の余白、左右の余白 */
    text-decoration: none; /* デフォルトで入る下線を消す */
    border-radius: 16px; /* 角を丸くする */
    transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }
  .btn:hover {
    opacity: .7;
  }